<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">about</a></li>
		        	<li><a href="/photography">photography</a></li>
	        		<li><a href="/cv">cv</a></li>
              <li><a href="/food">food</a></li>
	        		<li><a href="/trips">trips</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dodiodion@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dodiodion">github.com/dodiodion</a></li>
              <li><a href="https://www.instagram.com/dodiodion/">insta</a></li>
              <li><a href="https://www.linkedin.com/in/dominique-dion-66056a14a/">linkedin</a></li>
              <li><a href="https://www.strava.com/athletes/52258586/">strava</a></li>
				</ul>
			</footer>
		</body>
	</html>
